@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .hero-title {
    width: 60%;
    font-size: 80px;
  }
  .section1 p {
    font-size: 40px;
  }
  .section2 p {
    font-size: 70px;
  }
  .section3 .boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .links {
    display: none;
  }
  .bars {
    display: block;
  }
  .showMobileNav {
    opacity: 1;
    visibility: visible;
    top: 70px;
    position: fixed;
    z-index: 2;
  }
  .hero-title {
    width: 65%;
    font-size: 65px;
  }
  .section1 p {
    font-size: 35px;
  }
  .section2 p {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  .hero-title {
    font-size: 60px;
  }
  .section1 p {
    font-size: 25px;
  }
  .section2 p {
    font-size: 35px;
  }
  .section3 .boxes {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
