* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/roboto/Roboto-Regular.ttf);
}
body,
html {
  font-family: Roboto-Regular;
}
.container {
  max-width: 1200px;
  margin: auto;
}
header {
  position: sticky;
  top: 0px;
  z-index: 3;
  background-color: white;
}
nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 100%;
}
.links {
  display: flex;
  gap: 25px;
}
.links a {
  font-size: 15px;
  color: black;
}
.bars {
  width: 30px;
  display: none;
  cursor: pointer;
}
.bars img {
  width: 100%;
}
.mobileNav {
  padding: 50px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  position: absolute;
  max-width: 300px;
  width: 100%;
  right: 0;
  height: calc(100% - 70px);
  background-color: #212121;
  opacity: 0;
  visibility: hidden;
  transition: 0.7s;
  > a {
    color: white;
    font-size: 20px;
  }
}

/* navbar end */

.hero {
  height: calc(100vh - 70px);
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(../images/background-header.svg) no-repeat center;
  background-size: cover;
  position: relative;
}
.hero-title {
  position: absolute;
  width: 55%;
  font-weight: 400;
  font-size: 100px;
  color: rgba(174, 232, 251, 1);
  bottom: 50px;
}
/* header end */

.section1 {
  padding: 70px 0;
  text-align: center;
}
.btn {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.12px;
  color: black;
  border: 1px solid;
  border-radius: 10px;
  padding: 15px;
  transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
.btn:hover {
  background-color: black;
  color: white;
}
.section1 p {
  padding: 50px 0;
  font-size: 44px;
  line-height: 53px;
  width: 70%;
  margin: auto;
}
/* section1 end */

.section2 {
  padding: 70px 0;
  background-color: rgba(243, 233, 226, 1);
}
.section2 p {
  font-size: 80px;
  line-height: 88px;
}
/* section2 end */

.section3 {
  padding: 70px 0;
}
.section-title {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.28px;
  text-transform: uppercase;
}

.section3 .boxes {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  text-align: center;

  > .box {
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    transition: 0.5s ease;
  }
}
.boxes .box:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.boxes .btn {
  max-width: 180px;
  margin: auto;
}
.box-title {
  font-size: 16px;
  letter-spacing: 1.28px;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: 400;
}
.box-info {
  margin-top: 20px;
  line-height: 20px;
}
.boxes > .box:nth-child(1),
.boxes > .box:nth-child(3) {
  background-color: rgba(174, 232, 251, 1);
}
.boxes > .box:nth-child(2) {
  background-color: rgba(243, 233, 226, 1);
}
.section3 .boxes img {
  transition: 0.7s ease;
  width: 100%;
}
.section3 .boxes img:hover {
  transform: scale(1.05);
}
/* section3 end */

.section4 {
  padding: 70px 0;
}
.section4-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: space-between;
}
.left-box img {
  width: 100%;
}
.right-box {
  background-color: rgba(243, 233, 226, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.right-box p {
  font-size: 44px;
  line-height: 53px;
  width: 70%;
}
/* section4 end */

.section5 {
  padding: 70px 0;
  text-align: center;
}
.section5-boxes {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.section5-boxes .box {
  border-right: 1px solid black;
  padding: 30px;
}
.section5-boxes .box:nth-child(3) {
  border: none;
}
.section5-boxes .box h4 {
  font-weight: 400;
  margin-bottom: 30px;
}
.section5-boxes .box:nth-child(1) {
  > h4 {
    font-size: 61px;
    line-height: 72px;
  }
  > p {
    font-size: 15px;
  }
}
.section5-boxes .box:nth-child(2) {
  > h4 {
    font-size: 56px;
    line-height: 66px;
  }
  > p {
    font-size: 15px;
    line-height: 18px;
    width: 70%;
    margin: auto;
  }
}
.section5-boxes .box:nth-child(3) {
  > h4 {
    font-size: 62px;
    line-height: 73px;
  }
  > p {
    font-size: 16px;
    line-height: 19px;
    width: 70%;
    margin: auto;
  }
}
/* section5 end */

.section6 {
  padding: 50px 0;
  background-color: rgba(243, 233, 226, 1);
}
marquee {
  font-size: 80px;
}
/* section6 end */
